

.search-bar input{width:98%;  height: 40px; line-height: 50px; border: 0; border-bottom: 1px solid #666; background-color: transparent; padding: 0 1%; font-size: 20px}

.sec_search h2{font-size: 24px; margin: 60px 0 30px}